/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.app {
  display: flex;
}


.sidebar-container {
  min-height: 100vh;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  width: 200px;
  padding-top: 25px;
}

.sidebar-link {
  padding: 10px
}

.sidebar-link:hover {
  border-right: 5px solid dimgray;
  background-color: gainsboro;
}

.content-container {
  padding: 25px;
  font-family: 'Playfair Display', serif;
  line-height: 1.5em;
}

/* CSS FOR GRAPH.JS BELOW */
.block {
  /*display: block;*/
  border: 3px solid black;
}

.break {
  flex-basis: 100%;
  height: 0;
}